<div class="card">
  <h2>Create a new Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      Title <br>
      <input class="input-custom" type="text" id="title" [formControlName]="'name'">
    </label>
    <br>
    Theme <br>
    <select name="theme-field" id="theme" [formControlName]="'theme'">
      <option *ngFor="let currentTheme of THEME_LIST" [value]="currentTheme">
        {{currentTheme}}
      </option>
    </select>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
  </form>
</div>
